@import './variables.scss';

.filmes {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,  24rem));
    justify-content: center;
    gap: 48px;

    &__item {
        height: 540px;
        cursor: pointer;

        &__text {
            padding: 16px;
        }
    }

    &__imagem {
        height: 540px;
        width: 100%;
        object-fit: contain;
    }

    &__back {
        border: 1px solid $grey;
    }
}